<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuguMemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6AA4840D2556BB4F0034DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA4841E2556BB520034DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA484292556BB520034DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
